@model IEnumerable<FilActualite.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Admin
        </th>
        <th></th>
    </tr>
   
    @foreach (var item in Model)
    {
        using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRole)
            </td>
        </tr>
        }
    }

</table>
