@{
    ViewBag.Title = "Mes news";
}

<div class="row">
    <h1 style="text-align: center">Actualités : @ViewBag.cat</h1>
    <br />
    <table id="news"></table>
</div>

<script>
    $(document).ready(function () {
        var date = new Date();
        var url = 'https://newsapi.org/v2/everything?' +
            'q=@ViewBag.cat' + 
            '&language=fr&' +
            'from=' + date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() +  
            '&apiKey=da89aa40e24f4d10a30b4582174e4fff';
        console.log(url);
    $.ajax({
        type: 'GET',
        url: url,
        success: function (data) {
            console.log(data);
            var tr;
        //Append each row to html table
            for (var i = 0; i < data.articles.length; i++) {
                $("#news").append('<tr><div class="articles"><td><img class="icon" src="' + data.articles[i].urlToImage + '"></td><td><a class="title" href="' + data.articles[i].url + '" ><b style="color: black; font-size: 150%">' + data.articles[i].title + '</b></a</td></div></tr><br>');
            }
        },
        failure: function(data) {
            alert("Failure: " + data);
        },
        error: function(data) {
            alert("Error: " + data);
        }
    });
});
</script>
<style>
    .icon {
        max-width: 50%;
        height: auto;
        margin-left: 3%;
    }

    .title {
        margin-left: -30%;
        margin-right: 5%;
        display: block;
    }

    td {
        width: 15%;
        padding-bottom: 1.5%;
        padding-top: 1.5%;
    }

    tr {
        border: 1px solid gray;
    }
</style>